body {
    text-align: center;
}

img {
    width: 450px;
    height: 300px;
}

.image-1, .image-2 {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.image-1 img {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.image-2 img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}